@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

body {
    background-color: #202124;
    color: white;
    font-family: Hack;
}

@font-face {
    font-family: Hack;
    src: url(assets/Hack-Regular.ttf);
}

::-webkit-scrollbar {
    display: none;
}

.lbl {
    user-select: none;
}

.help-modal__container {
    .help-modal {
        background-color: #202124 !important;

        .item {
            background-color: #202124 !important;

            .key {
                background-color: #202124 !important;
            }

            .description {
                color: white !important;
            }
        }
    }
}

.modal-content {
    border-radius: 22px !important;
    background-color: #292b2c;
}

