<div class="container-md">
    <form #form="ngForm" (ngSubmit)="applyDesiredGPU()" novalidate>

        <div class="row mt-4">
            <div class="col-4">
                <span>Current GPU Name:</span>
            </div>
            <div class="col">
                {{currentGPU}}
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-4">
                <span>Desired GPU Name:</span>
            </div>
            <div class="col">
                <input style="width: 100%" [(ngModel)]="desiredGPU" name="GPU" required placeholder="NVIDIA GeForce RTX 4090 Ti" class="form-control-sm">
            </div>
        </div>
        <div class="mt-4 d-block w-100">
            <button [disabled]="processing || form.invalid" class="btn btn-primary w-25 mx-auto d-block">Apply</button>
        </div>
    </form>
</div>